// This page returns weather information and tells user to click the button to 
// scan database.

<table>
    <tr>
        <td> Your Location: </td>
        <td> {{ data.location }} </td>
    </tr>

    <tr>
        <td> Weather: </td>
        <td> {{ data.descriptionOfWeather }} </td>
    </tr>

    <tr>
        <td> Wind: </td>
        <td> {{ data.wind }} </td>
    </tr>

    <tr>
        <td> humidity: </td>
        <td> {{ data.humidity }} </td>
    </tr>

    <tr>
        <td> Current Temperature: </td>
        <td> {{ data.temperature }} </td>
    </tr>
</table>