<!-- Page to display the crops table. Route : /cropslist -->

<html>
    <head>
        <title>Crops List</title>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <style>
            table {
              margin-top: 20px;
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }

            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }

            tr:nth-child(even) {
              background-color: #ddffdd;
            }
        </style>
    </head>


    <body>

      <nav class="navbar navbar-light">
        <div class = 'col-md-3'>

        </div>
        <div class = 'col-md-6'>

            <a class="navbar-brand" href="#">
                <img src="https://cdn1.iconfinder.com/data/icons/andriod-app-logo/32/icon_k-512.png" width="30" height="30" alt="">
                &nbsp; &nbsp; के रोप्ने ?
            </a>
        </div>
        <div class = 'col-md-3'>
            
        </div>
      </nav>
      <br /><br />
      <div class = 'row'>
        <div class = 'col-md-3'></div>
        <div class = 'col-md-6'>
          <p>Based on your location, the following crops are available.</p>
          <label for="months">Month:</label>
          <select id="months">
            <option value="Jan">Jan</option>
            <option value="Feb">Feb</option>
            <option value="Mar">Mar</option>
            <option value="Apr">Apr</option>
            <option value="May">May</option>
            <option value="Jun">Jun</option>
            <option value="Jul">Jul</option>
            <option value="Aug">Aug</option>
            <option value="Sep">Sep</option>
            <option value="Oct">Oct</option>
            <option value="Nov">Nov</option>
            <option value="Dec">Dec</option>
          </select>
          
          <table>
            <tr>
              <th>Crop Name</th>
              <th>Altitude</th>
              <th>Humidity</th>
              <th>Temperature</th>
              <th>Actions</th>
            </tr>

          {% for crop in crops %}
            <tr>
              <td>{{crop.name}}</td>
              <td>{{crop.altitude}}</td>
              <td>{{crop.humidity}}</td>
              <td>{{crop.temperature}}</td>
              <td>
                <button id = "btn_{{crop.id}}"" data-id = {{crop.id}} > View Details</button>
                <script>
                  var cropBtn = document.querySelector("#btn_{{crop.id}}");
                  cropBtn.addEventListener("click", goToPage);
                  function goToPage(e){
                    console.log(e.target.dataset.id)
                    var website = window.location.host;
                    var newLocation = "http://" + website + "/cropdetails/" + String(e.target.dataset.id)
                    window.location = newLocation
                  }
                </script>
              </td>
            </tr>
          {% endfor %}
        </div>
        <div class = 'col-md-3'></div>
      </div>
    </body>
</html>